@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/azarmehr/AzarMehr-Black.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/azarmehr/AzarMehr-Thin.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/azarmehr/AzarMehr-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/azarmehr/AzarMehr-Light.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/azarmehr/AzarMehr-Regular.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehrMono;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/azarmehr/AzarMehr-Mono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/azarmehr/AzarMehr-Medium.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/azarmehr/AzarMehr-Bold.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/azarmehr/AzarMehr-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehr;
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/azarmehr/AzarMehr-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: AzarMehrMono;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/azarmehr/AzarMehr-Mono-Bold.ttf') format('truetype');
}




